/* ********************** RESET CSS ***************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    --font-size: 16px;
    --color-header: #fff;
    /* --color-title-one: #001A49; */
}

html {
    box-sizing: border-box; 
    font-family: var(--main-font); 
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* ********************** HEADER ***************** */
.header {
    color: var(--color-header);
    display: grid;
    grid-template-rows: 60px 1fr;   
    width: 100%;
    height: 100vh;
}

/* **** Nav ***** */
.nav {
    background-color: #0e1111;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav__title {
    font-weight: 300;
    font-size: 1.2rem;
}

.nav__menu {
    cursor: pointer; 
    display: block;
} 

.nav__img {
    width: 30px;
}

.nav__bar {
    display: none;
}

/* .nav__bar--menu{

} */


/* **** Hero ***** */
.hero {
    min-height: 620px;
    max-height: 660px;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    display: grid;
    align-content: center;
    grid-auto-rows: max-content;
    text-align: center;
    row-gap: 1em;
    z-index: -1;
}

.hero__title {
    font-size: 2rem;
}

.hero__paragraph {
    margin-bottom: 15px;
}

.btn {
    background-color: #1789fc;
    padding: 13px 30px;
    justify-self: center;
    color: var(--color-header);
    text-decoration: none;
    border-radius: 30px;
}


/* ********************** MAIN ***************** */

/* **** Features ***** */
.features {
    text-align: center;
}

.features__title {
    color: #001A49;
    font-size: 1.8rem;
    margin-top: 60px;
    margin-bottom: 40px;
}

.features__main {
    padding-top: 40px;
    color: #000000;
    display: grid;
    width: 90%;
    margin: 0 auto;
    /* color: #37371f; */
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    
}

.features__description {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1em;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.features__icon {
    width: 35px;

}

.features__subtitle {
    font-size: 1.3rem;
}

.features__paragraph {
    line-height: 1.5;
    margin-bottom: 60px;
}

/* **** Programs ***** */
.programs {
    text-align: center;
    background-color: #eeeeee;
}

.programs__title {
    color: #001A49;
    font-size: 1.8rem;
    margin-top: 60px;
}

.programs__table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.programs__card {
    background-color: #1789fc;
    text-align: center;
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.programs__name {
    padding: 30px 0 70px 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

.programs__item {
 
}


.programs__icon {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.programs__course {
    display: grid;
    align-items: center;
    justify-content: flex-end;
}