/* ********************** Custom Properties***************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    --font-size: 16px;
    --container-width: 1200px;
    --white: #ffffff;
    --black: #000000;
    --light-blue: #1789fc;
    --medium-blue: #0A81D1;
    --dark-blue: #001A49; 
    --extra-light-grey: #eeeeee;
    --light-grey: #e0e0e0;
    --dark-grey: #424242;
    --green: #488b49;
}

html {
    font-family: var(--main-font); 
    font-size: var(--font-size);
} 

/* .container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--container-width);
    overflow: hidden;
} */


/* ********************** HEADER ***************** */
.header {
    color: var(--white);
    display: grid;
    grid-template-rows: 60px 1fr;
    justify-content: center;  
    /* justify-items: center; */
    width: 100%;
    height: 100vh;
}

/* **** Nav ***** */
.nav {
    background-color: var(--black);
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.nav__title {
    font-weight: 300;
    font-size: 1.2rem;
}

.nav__bar {
    display: none;
}

/* .nav__bar--menu{
} */

/* .nav__item {
    font-weight: 300;
    padding: 17px 0 12px 40px;
} */

.nav__menu {
    cursor: pointer; 
} 

.nav__img {
    width: 30px;
}

/* **** Hero ***** */
.hero {
    /* min-height: 650px;
    max-height: 850px; */
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
}

.hero__title {
    font-size: 2.2rem;
    padding: 0 18px;
}

.hero__paragraph {
    padding: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.btn {
    background-color: var(--light-blue);
    padding: 13px 35px;
    margin: 0 auto;
    color: var(--white);
    text-decoration: none;
    border-radius: 30px;
}


/* ********************** MAIN ***************** */

/* **** Features ***** */
.features {
    text-align: center;
}

.features__title {
    color: var(--dark-blue);
    font-size: 1.9rem;
    line-height: 1.3;
    padding: 90px 20px 30px;
}

.features__container {
    padding: 40px 20px;
    color: var(--black);
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 30px;
}

.features__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.features__icon {
    width: 35px;
    height: 32px;
    object-fit: contain;
}

.features__subtitle {
    font-size: 1.4rem;
    padding: 20px 0 15px;
}

.features__paragraph {
    line-height: 1.4;
    margin-bottom: 30px;
}

/* **** Programs ***** */
.programs {
    text-align: center;
    background-color: var(--extra-light-grey);
    margin: 50px auto;
    padding-bottom: 80px;
    color: var(--light-grey);
    width: 100%;
}

.programs__title {
    color: var(--dark-blue);
    font-size: 1.9rem;
    padding: 35px 20px 70px;
}

.programs__container {
    /* margin: 0 auto; */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 40px;
}

.programs__card {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80%;
    
}

.programs__name {
    padding: 30px 0 50px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1.1px;
}


.programs__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 0 12px 70px;

}

.programs__icon {
    width: 20%;
    height: 35px;
    object-fit: contain;
    margin-right: 15px;
}

.programs__course {
    font-weight: 300;
}

.programs__btn {
    background-color: var(--medium-blue);
    color: var(--white-color);
    padding: 15px 35px;
    margin: 40px auto 30px;
    text-decoration: none;
    border-radius: 7px;
}

/* **** Frequent Questions ***** */
.questions {
    text-align: center;
    margin-top: 70px;
}

.questions__title {
    color: var(--dark-blue);
    font-size: 1.8rem;
    padding: 20px;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: start;
}

.questions__card {
    border: 1.7px solid var(--light-blue);
    border-radius: 6px;
    padding: 15px;
}

.questions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.questions__subtitle {
    color: var(--dark-blue);
    line-height: 1.1;
    font-size: 1.2rem;
    margin-right: 20px;
    padding-left: 0;
}

.questions_show {
    color: var(--black);
}

/* **** Reviews ***** */
.reviews {
    background-color: var(--extra-light-grey);
    width: 100%;
    margin: 0 auto;
}

.reviews__titte {
    color: var(--dark-blue);
    font-size: 1.9rem;
    padding: 35px 20px 60px;
    text-align: center;
}

.reviews__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 0.8em;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.reviews__arrow{
    width: 31px;
    height: 31px;
    justify-self: center;
    cursor: pointer;
}

.reviews__card {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 3em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.reviews__card--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.reviews__texts {
    border-radius: 15px;
    padding: 20px 10px 30px;
    text-align: start;
    max-width: 700px;
}

.reviews__subtitle {
    background-color: var(--green);
    color: var(--light-grey);
    padding: 5px;
    margin-bottom: 25px ;
    font-size: 1.4rem;
    font-weight: 500;
    width: 200px;
}

.reviews__testimony{
    font-weight: 400;
    line-height: 1.3;
    color: var(--black);
    
}

.reviews__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    margin-bottom: 80px;
}

/* **** Offer ***** */
.offer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 90px;

}

.offer__title {
    color: var(--dark-blue);
    font-size: 2rem;
    line-height: 1.2;
    padding: 80px 20px 40px;
}

.offer__paragraph {
    line-height: 1.4;
    padding-bottom: 40px;
}

/* ********************** FOOTER ***************** */

.footer {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
}

.footer__container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 40px;
    padding-top: 60px;
}

/* **** Nav Footer ***** */
.nav--footer {
    display: block;
    margin: 0 auto;

}

.nav__title--footer {
    color: var(--green);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0px 20px 20px;
    text-align: center;
}

.nav__item--footer {
    list-style: none;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 17px 0 12px 30px;
}

.nav__link--footer {
    color: #fff;
    text-decoration: none;
}

/* **** Newsletter ***** */
.footer__newsletter {
    margin: 0 auto;
    width: 80%;
    padding: 0;
    display: block;
    text-align: start;
}

.footer__subtitle {
    color: var(--green);
    font-size: 1.2rem;
    padding: 8px 0; 
}

.footer__paragraph {
    line-height: 1.1;
    text-align: start;
    padding-bottom: 8px;
}

.footer__form {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer__input{
    font-size: 0.8rem;
    /* display: block; */
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;  
}

.footer__submit{
    background-color: var(--green);
    color: var(--white);
    font-size: 0.8rem;
    /* display: inline-block; */
    height: 40px;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* **** Social and Copyright ***** */
.footer__copy{
    padding: 50px 0 15px;
    text-align: center;
}

.footer__icon{
    margin-bottom: 40px;
}

.footer__img{
    width: 30px;
}

.footer__copyright{
    font-weight: 100;
    font-size: 0.9rem;
    padding-bottom: 50px;
}

/* =============================================== */
/****************** MEDIA QUERIES **************** */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    /* ********************** HEADER ***************** */

    /* **** Nav ***** */
    .nav__title {
        font-size: 1.3rem;
    }

    .nav__img {
        width: 35px;
    }

    /* **** Hero ***** */
    .hero {
        font-size: 1.1rem;
    }
    
    .hero__title {
        font-size: 2.4rem;
    }
    
    .hero__paragraph {
        line-height: 1.3;
    }

    /* ********************** MAIN ***************** */

    /* **** Features ***** */
    .features__title {
        font-size: 2.1rem;
    }

    .features__icon {
        width: 43px;
        height: 37px;
    }

    .features__subtitle {
        font-size: 1.6rem;
    }
    
    .features__paragraph {
        line-height: 1.5;
        font-size: 1.1rem;
    }

    /* **** Programs ***** */
    .programs__title {
        font-size: 2.1rem;
    }

    .programs__card {
        font-size: 1.1rem;
    }

    .programs__name {
        font-size: 1.8rem;
    }

    .programs__item {
        padding-left: 50px;
    }

    .programs__icon {
        width: 25%;
        height: 40px;
    }

    /* **** Frequent Questions ***** */
    .questions__title {
        font-size: 2rem;
    }
    
    .questions__subtitle {
        line-height: 1.2;
        font-size: 1.3rem;
    }

    .questions__img {
        width: 27px;
        height: 27px;
    }
    
    .questions_show {
        font-size: 1.1rem;
    }

    /* **** Reviews ***** */
    .reviews__titte {
        font-size: 2.1rem;
    }

    .reviews__arrow{
        width: 34px;
        height: 34px;
    }

    .reviews__subtitle {
        font-size: 1.6rem;
        width: 210px;
    }
    
    .reviews__testimony{
        line-height: 1.4;
        font-size: 1.1rem;
    }
    
    .reviews__img{
        width: 210px;
        height: 210px;
    }

    /* **** Offer ***** */
    .offer {
        font-size: 1.1rem;
    }

    .offer__title {
        font-size: 2.2rem;
        line-height: 1.3;
    }

    /* ********************** FOOTER ***************** */

    /* **** Nav Footer ***** */
    .nav__title--footer {
        font-size: 1.7rem;
    }
    
    .nav__item--footer {
        font-size: 1rem;
    }
    
    /* **** Newsletter ***** */
    .footer__subtitle {
        font-size: 1.4rem;
    }
    
    .footer__paragraph {
        line-height: 1.2;
        font-size: 1.1rem;
    }

    /* .footer__form {
        justify-content: space-between;
    } */
    
    .footer__input{
        font-size: 0.9rem;
        margin-right: 10px;
        flex: 1;
    } 
    
    .footer__submit{
        font-size: 0.9rem;
    }
    
    
    /* **** Social and Copyright ***** */
    .footer__img{
        width: 35px;
    }
    
    .footer__copyright{
        font-size: 1rem;
    }


    



    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}